.ingredients {
    display: flex;
    list-style-type: none;
}

.ingredientImg {
    max-width: 200px;
    padding: 2em;
}

@media screen and (max-width: 1200px) {
    .ingredients {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
    }

    .ingredientImg {
        max-width: 200px;
        padding: 7em;
    }
}
